[Desktop Entry]
Name=Notepad++
Exec=env WINEPREFIX="/root/.wine/" wine start /unix  "/root/.wine/drive_c/Program Files/Notepad++/notepad++.exe"
Icon=4D89_notepad++.0
Type=Application
Categories=Wine;
StartupNotify=true
